<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
    <script>
        function confirmDelete(id) {
            const confirmDelete = confirm("คุณต้องการลบรายการนี้ใช่หรือไม่?");
            if (confirmDelete) {
                // ถ้าผู้ใช้ยืนยันการลบ
                // ส่งคำขอลบไปยัง URL ใน server.js
                const url = `/delete/${id}`;
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = url;
                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Short URL</h1>
        <form action="/shortUrls" method="POST" style="display: block; text-align: center;" class="my-4 form-inline">
            <label for="fullUrl"></label>
            <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl">
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
        
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                    <th>qr code</th>
                    <th>Delete URL</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach((shortUrl,index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><a href="<%= shortUrl.Full_Url %>"><%= shortUrl.Full_Url %></a></td>
                        <td><a href="<%= shortUrl.Short_Url %>">http://localhost:5000/<%= shortUrl.Short_Url %></a></td>
                        <td><%= shortUrl.clicks %></td>
                        <td>
                            <form action="/generate/<%= shortUrl.Short_Url %>" method="GET">
                                <button class="btn btn-primary" type="submit">Generate QR</button>
                            </form>
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="confirmDelete('<%= shortUrl._id %>')">Delete</button>
                        </td>
                    </tr>   
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>